doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1= title
        br
        a(href="http://localhost:3000/add") Crear reserva
        br
        a(href="http://localhost:3000/showAll") Mostrar todas las reservas
        br
        a(href="http://localhost:3000/update") Actualizar reserva
        br
        a(href="http://localhost:3000/delete") Borrar reserva
        
    